.example-spacer {
    flex: 1 1 auto;
  }

.main-widget {
    background-color: #fff!important;
    color: rgba(0,0,0,.87);
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
}

.main-widget .heading {
    padding: 24px!important;
}

.h2 {
    font-size: 20px;
    font-weight: 400;
}

.heading-btn {
    background-color: #fff!important;
    color: rgba(0,0,0,.87);
}

.content {
    padding: 32px;
    min-width: 0;
}

.content-heading {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 24px!important;
}

.menu-button-color {
    color: #039be5;
}

.simple {
    width: 100%;
    border: none;
    border-spacing: 0;
    text-align: left;
}