<div class="main-widget" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="heading" fxLayout="row" fxLayoutAlign="start center">
        <div>
            <span class="h2">Top campaigns</span>
        </div>
        <span class="example-spacer"></span>
        <button mat-flat-button [matMenuTriggerFor]="menu">
            <mat-icon class="material-icons-outlined">more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" yPosition="below">
            <button mat-menu-item>
                <mat-icon class="menu-button-color material-icons-outlined">check_box</mat-icon>
                <span>Show Clicks</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="menu-button-color material-icons-outlined">check_box</mat-icon>
                <span>Show Conversion</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="secondary-text material-icons-outlined">check_box_outline_blank</mat-icon>
                <span>Show CPC</span>
            </button>
        </mat-menu>

    </div>

    <div class="table-content">
        <table class="simple clickable">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-right">Clicks</th>
                    <th class="text-right">Conv</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Holiday Travel</td>
                    <td class="text-right">3621</td>
                    <td class="text-right">90</td>
                </tr>
                <tr>
                    <td>Get Away Deals</td>
                    <td class="text-right">703</td>
                    <td class="text-right">7</td>
                </tr>
                <tr>
                    <td>Airfare</td>
                    <td class="text-right">532</td>
                    <td class="text-right">0</td>
                </tr>
                <tr>
                    <td>Vacation</td>
                    <td class="text-right">201</td>
                    <td class="text-right">8</td>
                </tr>
                <tr>
                    <td>Hotels</td>
                    <td class="text-right">94</td>
                    <td class="text-right">4</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <button mat-flat-button>
            <span class="bottom-button-text">GO TO CAMPAIGNS</span>
        </button>
    </div>

</div>