<div>

    <mat-drawer-container class="example-container" fullscreen>

        <mat-drawer #leftDrawer class="example-sidenav" mode="side" opened>

            <!-- perfect scrollbar open -->
            <div style="position: relative; max-width: 280px; max-height: 100%;" class="ps" [perfectScrollbar]="config">

                <div fxLayout="column" fxLayoutAlign="start stretch">

                    <div class="sidenav-top" fxLayout="row" fxLayoutAlign="start center">
                        <div>
                            <img class="logo-icon" src="../assets/icon/fuse.svg">
                        </div>
                        <div class="logo-text">FUSE</div>
                        <span class="example-spacer"></span>
                        <div>
                            <button mat-icon-button matTooltip="Close" matTooltipPosition="below"
                                (click)="leftDrawer.close()">
                                <mat-icon class="leftDrawer-close">close</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="user" fxLayout="column" fxLayoutAlign="start center">

                        <div class="username">Charlie Adams</div>
                        <div class="email">adams.charlie@mail.com</div>
                        <div class="avatar-container">
                            <img class="avatar" src="../assets/avatars/Velazquez.jpg">
                        </div>
                    </div>

                    <div>
                        <form class="menu-form">
                            <mat-form-field class="menu-form-full-width">
                                <input matInput placeholder="Search Menu Option" name="serachbox"
                                    [(ngModel)]="searchName" (input)="onSerachMenuOption()">
                            </mat-form-field>
                        </form>
                    </div>

                    <div class="sidenav-content">

                        <!-- APPLICATIONS GROUP -->
                        <div class="sidenav-group">
                            <div class="group-title">
                                <span class="hint-text">Applications</span>
                            </div>

                            <div class="group-items" *ngFor="let item of menuLists">

                                <!-- if submenu present -->
                                <a class="list-item" *ngIf="item.show === true && item.hasSubMenu==true">
                                    <mat-expansion-panel (opened)="true" (closed)="false">
                                        <mat-expansion-panel-header class="specific-class">
                                            <a>
                                                <button mat-flat-button>
                                                    <mat-icon class="material-icons-outlined">{{item.displayIcon}}
                                                    </mat-icon>
                                                    <span class="list-item-header-text">{{item.displayName}}</span>
                                                    <span *ngIf="item.badgeValue != null"
                                                        [class.list-item-badge1]="item.badgeValue != null">{{item.badgeValue}}</span>
                                                </button>
                                            </a>
                                        </mat-expansion-panel-header>

                                        <a *ngFor="let children of item.subMenuList">

                                            <!-- if nested submenu present -->
                                            <a class="list-item" *ngIf="children.show === true && children.hasSubMenu==true">
                                                <mat-expansion-panel (opened)="true" (closed)="false">
                                                    <mat-expansion-panel-header class="specific-class">
                                                        <a>
                                                            <button mat-flat-button>
                                                                <!-- <mat-icon class="material-icons-outlined">dashboard</mat-icon> -->
                                                                <span
                                                                    class="list-item-subchildren-header-text">{{children.displayName}}</span>
                                                            </button>
                                                        </a>
                                                    </mat-expansion-panel-header>

                                                    <a *ngFor="let subchildren of children.subMenuList">
                                                        <button *ngIf="subchildren.show === true" mat-flat-button>
                                                            <span
                                                                class="list-item-subchildren-text">{{subchildren.displayName}}</span>
                                                        </button>
                                                    </a>

                                                </mat-expansion-panel>
                                            </a>

                                            <!-- if nested submenu not present -->
                                            <a class="list-item" *ngIf="children.show === true && children.hasSubMenu==false">
                                                <button mat-flat-button>
                                                    <span class="list-item-children-text">{{children.displayName}}</span>
                                                    <span *ngIf="children.badgeValue != null"
                                                        [class.list-item-badge1]="children.badgeValue != null">{{children.badgeValue}}</span>
                                                </button>
                                            </a>

                                        </a>
                                    </mat-expansion-panel>
                                </a>

                                <!-- if submenu not present -->
                                <a class="list-item" *ngIf="item.show === true && item.hasSubMenu==false">
                                    <button mat-flat-button>
                                        <mat-icon class="material-icons-outlined">{{item.displayIcon}}</mat-icon>
                                        <span class="list-item-text">{{item.displayName}}</span>
                                        <span *ngIf="item.badgeValue != null"
                                            [class.list-item-badge1]="item.badgeValue != null">{{item.badgeValue}}</span>
                                    </button>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <!-- perfect scrollbar close -->
        </mat-drawer>

        <mat-drawer #rightDrawer class="quick-panel" mode="over" position="end">
            <!-- perfect scrollbar open -->
            <div style="position: relative; max-width: 280px; max-height: 100%;" class="ps" [perfectScrollbar]="config">

                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-list>
                        <h3 class="mat-subheader"><span>Today</span></h3>
                        <div class="secondary-text">
                            <div>{{today | date:'EEEE'}}</div>
                            <div>{{today | date:'d MMMM'}}</div>
                        </div>
                    </mat-list>
                    <mat-divider class="mat-divider" role="separator" aria-orientation="horizontal"></mat-divider>
                    <mat-list>
                        <h3 class="mat-subheader"><span>Events</span></h3>
                        <div class="mat-list-data">
                            <div class="mat-list-data-text">Group Meeting</div>
                            <div class="mat-list-data-subtext">In 32 Minutes, Room 1B</div>
                        </div>
                        <div class="mat-list-data">
                            <div class="mat-list-data-text">Public Beta Release</div>
                            <div class="mat-list-data-subtext">11:00 PM</div>
                        </div>
                        <div class="mat-list-data">
                            <div class="mat-list-data-text">Dinner with David</div>
                            <div class="mat-list-data-subtext">17:30 PM</div>
                        </div>
                        <div class="mat-list-data">
                            <div class="mat-list-data-text">Q&A Session</div>
                            <div class="mat-list-data-subtext">20:30 PM</div>
                        </div>
                    </mat-list>
                    <mat-divider class="mat-divider" role="separator" aria-orientation="horizontal"></mat-divider>
                    <mat-list>
                        <h3 class="mat-subheader"><span>Notes</span></h3>
                        <div class="mat-list-data">
                            <div class="mat-list-data-text">Best songs to listen while working</div>
                            <div class="mat-list-data-subtext">Last edit: May 8th, 2018</div>
                        </div>
                        <div class="mat-list-data">
                            <div class="mat-list-data-text">Useful subreddits</div>
                            <div class="mat-list-data-subtext">Last edit: January 12th, 2018</div>
                        </div>
                    </mat-list>
                    <mat-divider class="mat-divider" role="separator" aria-orientation="horizontal"></mat-divider>
                    <mat-list>
                        <h3 class="mat-subheader"><span>Quick Settings</span></h3>
                        <div class="mat-list-data">
                            <div class="mat-list-data-text">
                                <mat-slide-toggle class="firstToggle" labelPosition="before" color="orange"><span
                                        class="firstToggleText">Notifications</span></mat-slide-toggle>
                            </div>
                        </div>
                        <div class="mat-list-data">
                            <div class="mat-list-data-text">
                                <mat-slide-toggle class="secondToggle" labelPosition="before" color="orange"><span
                                        class="secondToggleText">Cloud Sync</span></mat-slide-toggle>
                            </div>
                        </div>
                        <div class="mat-list-data">
                            <div class="mat-list-data-text">
                                <mat-slide-toggle class="thirdToggle" labelPosition="before" color="orange"><span
                                        class="thirdToggleText">Retro Thrusters</span></mat-slide-toggle>
                            </div>
                        </div>
                    </mat-list>
                </div>

            </div>
            <!-- perfect scrollbar close -->
        </mat-drawer>




        <mat-drawer-content fxLayout="column" fxLayoutAlign="start stretch">

            <!-- perfect scrollbar open -->
            <div style="position: relative; max-width: 100%; max-height: 100%;" class="ps" [perfectScrollbar]="config">

                <app-header (sidenavToggle)="leftDrawer.toggle()" (rightSidenavToggle)="rightDrawer.toggle()">
                </app-header>



                <div class="example-spacer">
                    <router-outlet></router-outlet>
                </div>



            </div>
            <!-- perfect scrollbar close -->

            <app-footer></app-footer>

        </mat-drawer-content>

    </mat-drawer-container>

    <!-- theme settings button -->
    <div class="panel-setting-button" (click)="openPanel()">
        <i mat-flat-button class="material-icons material-icons-outlined panel-setting-icon">settings</i>
    </div>

    <!-- for component view when click on settins button -->
    <app-theme-options></app-theme-options>

</div>