.example-spacer {
    flex: 1 1 auto;
  }

.sale-widget {
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
}

.main-widget {
    background-color: #039be5!important;
    color: #fff!important;
}

.main-widget .main-widget-content {
    padding: 12px 24px 12px 24px !important;
}

.h2 {
    font-size: 20px;
    font-weight: 400;
}

.h5 {
    color: rgba(255,255,255,.7)!important;
    font-size: 13px;
    font-weight: 400;
}

.secondary-number {
    font-size: 48px;
    font-weight: 300;
}

.heading-btn {
    background-color: #039be5!important;
    color: #fff!important;
}

.content {
    padding: 32px;
    min-width: 0;
}

.content-heading {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 24px!important;
}

/* for active button */
.active-button {
    background-color: #f0571a!important;
    color: #000000!important;
}

/* class are dynamically added */
.selected {
    background-color:#0279b3!important;
    color: #fff!important;
}