<div class="budget-summary-widget" fxLayout="column" fxLayoutAlign="start stretch">

    <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="25">
            abc
        </div>
        <div fxFlex="25">
            xyz
        </div>
        <div fxFlex="25">
            pqr
        </div>
        <div fxFlex="25">
            lmn
        </div>
    </div>

    <div>
        <app-github-issues-info></app-github-issues-info>
    </div>

    <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="50">
            <app-task-distribution></app-task-distribution>
        </div>
        <div fxFlex="50">
            <app-daily-schedule></app-daily-schedule>
        </div>
    </div>

</div>