<div class="budget-summary-widget" fxLayout="column" fxLayoutAlign="start stretch">

    <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="25">
            abc
        </div>
        <div fxFlex="25">
            xyz
        </div>
        <div fxFlex="25">
            pqr
        </div>
        <div fxFlex="25">
            lmn
        </div>
    </div>

    <div>kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
    </div>

    <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="50">
            xuv
        </div>
        <div fxFlex="50">
            rxa
        </div>
    </div>

</div>