<div class="content" fxLayout="row" fxLayoutAlign="space-around stretch">

    <div class="leftContent" fxFlex="67" fxLayout="column" fxLayoutAlign="start stretch">

        <div>
            <app-project-content></app-project-content>
        </div>

    </div>

    <div class="rightContent" fxFlex="27" fxLayout="column" fxLayoutAlign="start stretch">

        <div>
            <app-time-date></app-time-date>
        </div>

        <div>
            <app-city-weather></app-city-weather>
        </div>

    </div>

</div>