<mat-toolbar class="footer-toolbar" color="primary">
    <mat-toolbar-row>

        <div>
            <button mat-raised-button class="shopping-cart-button">
                <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
                <span class="shopping-cart-text">Purchase FUSE (Angular 8+)</span>
            </button>
        </div>

        <span class="example-spacer"></span>

        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button class="documentation-button">
                <span class="documentation-text">Documentation</span>
            </button>

            <mat-icon class="brightness-size">brightness_1</mat-icon>

            <button mat-raised-button class="Changelog-button">
                <span class="Changelog-text">Changelog</span>
            </button>

        </div>

    </mat-toolbar-row>
</mat-toolbar>