
  button:focus {
    outline: none !important;
  }

  .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
    color: #fff !important;
  }

/* .ps__thumb-y {
  height: 50px !important;
} */



/* notification toggle */

.firstToggle.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(60,66,82,.54) !important;
}

.firstToggle.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #3c4252 !important;
}

/*  cloud sync toggle */

.secondToggle.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(3,155,229,.54) !important;
}

.secondToggle.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #039be5 !important;
}


/* retro trusters toggle */

.thirdToggle.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(244,67,54,.54) !important;
}

.thirdToggle.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #f44336 !important;
}

/* for routerLink active class */
.active button {
  background-color: #039be5!important;
  color: #fff!important;
}

/* for menu display below toolbar */
.cdk-overlay-pane {
  margin-top: 13px !important;
}

/*  for expansion panel <a> tag*/
div .mat-expansion-panel-body {
  padding: 0px 0px 16px 0px !important;
}

/* button[mattooltipposition] {
  top: 1px !important;
} */

/* progress bar position */
.mat-progress-bar {
  position: absolute !important;
}