.example-spacer {
    flex: 1 1 auto;
  }

/* for calendar */
h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

.calendar-widget .calendar-header {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
    padding: 24px!important;
}

.calendar-widget .calendar-header {
    background-image: url(../../assets/images/calendar/summer.jpg);
    background-position: 0 80%;
}


.calendar-logo-text {
    font-size: 24px;
}

.view-date-text {
  margin: 8px 14px 0px 14px;
}

.add-event-button {
  position: absolute;
  right: 35px;
  top: 235px;
  z-index: 10;
  background-color: #039be5;
}

.calendar-content {
  padding: 24px;
}