<div class="calendar-widget" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="calendar-header" fxLayout="column" fxLayoutAlign="start stretch">

        <div fxLayout="row" fxLayoutAlign="start stretch">

            <mat-icon class="secondary-text material-icons-outlined">today</mat-icon>
            <span class="calendar-logo-text">&nbsp;&nbsp; Calendar</span>
            <span class="example-spacer"></span>
            <button mat-icon-button matTooltip="Search" matTooltipPosition="below">
                <mat-icon class="secondary-text material-icons-outlined">search</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Today" matTooltipPosition="below">
                <mat-icon class="secondary-text material-icons-outlined">today</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Day" matTooltipPosition="below">
                <mat-icon class="secondary-text material-icons-outlined">view_day</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Week" matTooltipPosition="below">
                <mat-icon class="secondary-text material-icons-outlined">view_week</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Month" matTooltipPosition="below">
                <mat-icon class="secondary-text material-icons-outlined">view_module</mat-icon>
            </button>
        </div>

        <span class="example-spacer"></span>

        <div fxLayout="row" fxLayoutAlign="start stretch">
            <span class="example-spacer"></span>
            <button mat-icon-button matTooltip="Next Month" matTooltipPosition="below">
                <mat-icon class="secondary-text material-icons-outlined">chevron_left</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Previous Month" matTooltipPosition="below">
                <mat-icon class="secondary-text material-icons-outlined">chevron_right</mat-icon>
            </button>
            <span class="example-spacer"></span>
        </div>

    </div>

    <div>

    </div>

</div>